.tittle-name-class {
    font-size: 16px;
    font-family: 'Arial narrow';
    color: gray;
}

.name-class {
    font-size: 22px;
    font-family: 'Calibri';
}

.description-class {
    font-size: 20px;
    font-family: 'Arial narrow';
    color: gray;
}