<ion-list lines="none" class="scores-empty-list" *ngIf="scores.length == 0">
    <ion-card style="position: absolute; left: 15%; top: 40%;">
        <ion-card-content>
            <ion-text color="danger">SIN DATOS QUE MOSTRAR</ion-text>
        </ion-card-content>
    </ion-card>
</ion-list>
<ion-list class="scores-list" *ngIf="scores.length > 0">
    <ion-item *ngFor="let score of scores">
        <ion-icon slot="start" md="medal"></ion-icon>
        <ion-list lines="none">
            <ion-label>{{score.week}}</ion-label>
            <ion-label>{{score.activity}}</ion-label>
            <ion-label>{{score.score}}</ion-label>
        </ion-list>
        <ion-button color="danger" slot="end" (click)="deleteScore(score)">
            <ion-icon name="trash"></ion-icon>
        </ion-button>
    </ion-item>
</ion-list>